img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.square__available {
  position: relative;
  width:70 ;

}
.square {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.square__available::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Adjust size as needed */
  background-color: #c800ff; /* Blue color for the circle */
  border-radius: 50%; /* Makes it a circle */
  transform: translate(-50%, -50%); /* Centers the circle */
  pointer-events: none; /* Allows clicks to pass through */
}


/* .square__available:hover {
  border: 2px solid hsl(60, 100%, 50%);
} */
.square__selected {
  background: none; /* Remove the existing background gradients */
  border-radius: 100%; /* Make the shape round */
  border: 5px solid rgb(233, 150, 0);
}

