@import-normalize;
@import "fonts.css";
@import "buttons.css";
@import "../components/Board/css/squares.css";
@import "../components/Board/css/board.css";
@import "../components/Board/css/piece.css";

*, *::after, *::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: 
        url('https://d2g1zxtf4l76di.cloudfront.net/images/new-ui/light-bg.svg'),;
       
    
    background-position: center center, bottom center;
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    overflow: hidden;
    background-color:  rgb(255, 251, 242);
}

.app__container {
    display: flex;
    height: 100%;
    gap: 50px;
    width: 100%;
    
    background-color:  rgb(255, 251, 242);
    border-top: 1px solid;
    border-color: rgb(218, 210, 202);
    border-image: initial;
    border-width: 0.5px;
}

.board-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 50px;
    position: relative;
   background-color:  rgb(255, 251, 242);
}
.side-container {
  flex: 3;  
  display: flex;
  flex-direction: column;
  
  justify-content:flex-start; 
  border-left: 1px solid #9d0d0d;
  gap: 0px; 
  min-width: 500px;
  margin-right: 200px;
  background-color: rgb(246, 241, 232);
}

.player-timer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid;
  border-color: rgb(218, 210, 202);
  border-image: initial;
  
}

.timer-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}


.timer-container-bottom {
  margin: 10px;
  
  
}
.timer-container-top {
  margin: 10px;
  
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 16px; 
}

.timer p {
  margin: 0; 
  padding: 5px; 
}
.tabs-container {
  margin-top: 10px; 
  margin-bottom: 10px; 
  height: 93%;  
  max-height: 720px;  
  
}

.player-card {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px; 
  border-radius: 8px; 
  font-size: 16px;
  font-weight: 500;
  
}

.player-info-row {
  display: flex;
  align-items: center; 
  justify-content: start; 
}

.profile-picture {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-left: 10px;
}

h3 {
  margin: 0; 
  padding-right: 10px; 
  font-size: 1em; 
  color: #333; 
}

.red-text, .black-text {
  margin: 10px; 
}

.combined-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px; 
  height:100%;
  margin-bottom: 20px;
}

.tab-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  border-color: rgb(218, 210, 202);
  width: 100%;
  padding: 0 10px; 
}

.tab-menu button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  outline: none;
  flex-grow: 1; 
}

.tab-menu button h3, .tab-menu button img {
  margin: 0 5px; 
}

.tab-menu button img {
  height: 24px; 
  width: auto; 
}

.tab-menu .active {
  border-color: red; 
}

.tab-content {
  border-top: none;
  height: 100%;
  min-width: 300px;
}


.undo-container button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.undo-container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.move-history-container {
  background-color: #f8f4ed;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  height: 100%;
  width: 100%;
}

.moves-navigator {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.move-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0dcd4;
}


.move-item:nth-child(odd) {
  background-color: #f8f4ed;
}

.move-item:nth-child(even) {
  background-color: #eae6de;
}

.move-index {
  flex: 0 0 30px;
  text-align: center;
}

.move {
  flex: 1;
  text-align: center;
}

.red-move, .black-move {
  color: #4a2e2c;
}

.highlight {
  background-color: #dcd1c4; 
}

.history-controls {
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  align-items: center; 
  gap: 60px;
  margin-top: 16px;
  width: 100%;
  background-color: rgb(223, 215, 207);
}

.control-button {
  
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.control-button:disabled {
  
  cursor: not-allowed; 
}

.control-button:hover:not(:disabled) {
  background-color: #c0c0c0;
}

.page-number {
  font-weight: bold;
  padding: 0 8px;
  color: #4a2e2c;
}


.board.blurred {
  filter: blur(2px);
}
.viewers-tab{
  margin-top: 10px;
  margin-left: 450px;
}
.warning-banner {
  background-color: #fcd974; 
  color: #b71c1c; 
  text-align: center;
  
  font-weight: bold;
  border-radius: 5px;
  position: relative; 
  z-index: 1000; 
  width: 70%;
  height: 50%;
}

.left-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  gap: 5px; 
  width: 100%; 
  height: 100%; 
  padding: 20px; 
}
.footer-component {
  display: flex;
  justify-content:center; /* Aligns the button to the right */
  /* padding: 10px; */
  background-color: rgb(246, 241, 232); /* Matches the background color in the screenshot */
  border-top: 1px solid #ddd; /* Optional: adds a top border to separate the footer */
  width: 100%;
  height: 50%;
  position: relative;
}

.resign-button {
  background: none;
  border: none;
  color: #a94442; /* Red color similar to screenshot */
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.resign-button .icon {
  margin-right: 5px; /* Adds some space between icon and text */
}

.resign-button:hover {
  color: #ff0000; /* Hover effect for better UX */
}
.confirmation-modal {
  position: absolute;
  bottom: 60px; /* Position above the "Resign" button */
  right: 0; /* Align with the right edge of the button */
  background-color: rgb(255, 251, 242); /* Matches your design */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(77, 76, 76, 0.1);
  z-index: 1001; /* Ensure it's above other content */
  text-align: center;
  
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the buttons */
}

.confirm-button,
.cancel-button {
  background: none;
  border: none;
  color: #a94442; /* Red color for both buttons */
  font-size: 18px;
  cursor: pointer;
}

.confirm-button:hover,
.cancel-button:hover {
  color: #ff0000; /* Darker red on hover */
}



